$first:#08415c;
$secondary: #cc2936;
$third: #e1f8ff;
$fourth: #505050;
$fifth: #6b818c;

// CONTENT
*{
  transition: all 0.3 ease;
}
h1,h2,h3,h4,h5,p{
  margin: 0;
}
html{
  // width: 100vw;
  margin: 0;
}
body{
  color:$third;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  background: $fifth;
}

section{
  padding: 10vh 0;
  text-align: center;
  display: flex;
  justify-content: center;

  img{
    margin: auto 0;
    max-height: 100px;
  }
  .content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 50px;
    width: 400px;
  }

  h1{
    font-weight: 400;
    font-size: 2em;
    margin-bottom: 20px;
  }
  .bar{
    background: $secondary;
    height: 2px;
    width: 30px;
  }
  h2{
    margin: 0 auto;
    margin-top: 20px;
    font-weight: 300;
    font-size: 1.3em;
    // color: $fourth;
  }
  a{
    margin-top: 20px;
    color: $first;
    font-weight: 400;
    font-size: 1.3em;
    text-decoration: none;
  }
}
section:nth-child(odd){
  flex-direction: row;
  text-align: left;
  .bar{
    margin-right: auto;
  }
}
section:nth-child(even){
  flex-direction: row-reverse;
  text-align: right;
  .bar{
    margin-left: auto;
  }
}

#landing{
  display: flex;
  flex-direction: column;
  text-align: center;

  img{
    max-height: 150px;
    max-width: 150px;
    margin: 0 auto;
  }
  h1{
    margin-top: 50px;
    font-weight: 400;
    font-size: 3em;
    color: $third;
  }
  h2{
    margin: 0 auto;
    margin-top: 30px;
    width: 500px;
    font-weight: 300;
    font-size: 1.5em;
  }
}

#download{
  flex-direction: column;
  text-align: center;

  h1{
    color: $third;
  }
  #links{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;

    img{
      padding: 0 50px;
      max-height: 100px;
    }
    a:nth-child(1){
      border-right: 2px solid $secondary;
    }
    a{
      pointer-events: none;
      filter: brightness(80%);
    }
  }
}

.footer{
  padding: 20px 0;
}