* {
  transition: all 0.3 ease; }

h1, h2, h3, h4, h5, p {
  margin: 0; }

html {
  width: 100vw;
  margin: 0; }

body {
  color: #e1f8ff;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  background: #6b818c; }

section {
  padding: 10vh 0;
  text-align: center;
  display: flex;
  justify-content: center; }
  section img {
    margin: auto 0;
    max-height: 100px; }
  section .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 50px;
    width: 400px; }
  section h1 {
    font-weight: 400;
    font-size: 2em;
    margin-bottom: 20px; }
  section .bar {
    background: #cc2936;
    height: 2px;
    width: 30px; }
  section h2 {
    margin: 0 auto;
    margin-top: 20px;
    font-weight: 300;
    font-size: 1.3em; }
  section a {
    margin-top: 20px;
    color: #08415c;
    font-weight: 400;
    font-size: 1.3em;
    text-decoration: none; }

section:nth-child(odd) {
  flex-direction: row;
  text-align: left; }
  section:nth-child(odd) .bar {
    margin-right: auto; }

section:nth-child(even) {
  flex-direction: row-reverse;
  text-align: right; }
  section:nth-child(even) .bar {
    margin-left: auto; }

#landing {
  display: flex;
  flex-direction: column;
  text-align: center; }
  #landing img {
    max-height: 150px;
    max-width: 150px;
    margin: 0 auto; }
  #landing h1 {
    margin-top: 50px;
    font-weight: 400;
    font-size: 3em;
    color: #e1f8ff; }
  #landing h2 {
    margin: 0 auto;
    margin-top: 30px;
    width: 500px;
    font-weight: 300;
    font-size: 1.5em; }

#download {
  flex-direction: column;
  text-align: center; }
  #download h1 {
    color: #e1f8ff; }
  #download #links {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center; }
    #download #links img {
      padding: 0 50px;
      max-height: 100px; }
    #download #links a:nth-child(1) {
      border-right: 2px solid #cc2936; }
    #download #links a {
      pointer-events: none;
      filter: brightness(80%); }

.footer {
  padding: 20px 0; }
